<h3> Make room reservation in {{ AccommodationName }} </h3>

<div>
   Room number: {{Room.RoomNumber}} <br/>
   Bed count: {{Room.BedCount}} <br />
   Description: {{Room.Description}} <br/> 
   Price per night: {{Room.PricePerNight}} <br/>
</div>

<form #f = "ngForm" (ngSubmit)="onSubmit()" ngNativeValidate>
  <div>
    <label for="StartDate"> From: </label>
    <input type="date" id="StartDate" name="StartDate" [(ngModel)]="StartDate" [min]="CurrentDate" (change) = "selectedDate()" required> <br/>
  
    <label for="EndDate"> To: </label>
    <input type="date" id="EndDate" name="EndDate" [(ngModel)]="EndDate" [min]="CurrentDate" (change) = "selectedDate()" required> <br/>

    <input type="submit" value="Done">
  </div>
</form>

{{ Message }}