<div>
  <p> {{countryName}} >> {{ region.Name }} 
    &nbsp; <button *ngIf="isLoggedIn() && isAdmin()" (click)="deleteRegion(region.Id)"> <b> Delete </b> </button>
    &nbsp; 
    <button *ngIf="isLoggedIn() && isAdmin()" 
      (click)="editRegion(region.Id, region.Name, region.CountryId, countryName)"> 
      <b> Edit </b> 
    </button>
  </p>

  <div *ngIf="isLoggedIn() && isAdmin()">
    <add-place (onPlaceAdded)="addPlace($event)" [regionId]="region.Id"> </add-place>
  </div> <br/>

  <div>
    <place-list [region]='region' [countryName] = 'countryName'> </place-list>
  </div>
</div>