<div>
  <p> 
    {{ country.Name }} 
    &nbsp; <button *ngIf="isLoggedIn() && isAdmin()" (click)="deleteCountry(country.Id)"> <b> Delete </b> </button>
    &nbsp; 
    <button *ngIf="isLoggedIn() && isAdmin()" (click)="editCountry(country.Id, country.Name, country.Code)"> 
      <b> Edit </b> 
    </button>
  </p>
  <div>
    <add-region *ngIf="isLoggedIn() && isAdmin()" [CountryId]="country.Id" (onRegionAdded)="addRegion($event)"></add-region>
  </div>
  <p> Code: {{ country.Code }} </p>
  <div>
    <region-list [country]='country'> </region-list>
  </div>
</div>

