<h4> {{path}} Accommodations </h4>

<div *ngFor="let accommodation of Accommodations"> 
    <a [routerLink]="['/accommodation', accommodation.Id]"> {{accommodation.Name}} </a> &nbsp;
    <button *ngIf="isLoggedIn() && isAdmin() && isDisapprovedOrigin()" (click)="approve(accommodation.Id)"> 
        Approve 
    </button> 
</div>

<div *ngFor="let c of counter; let i=index">
    <button (click)="changePage((PageSet -1)*2 + i + 1)"> {{ (PageSet -1)*2 + i + 1 }}  </button>
</div>

<div *ngIf="showNext()"> 
    <button (click)="nextPageSet()"> Next </button> 
</div>

<div *ngIf="showPrevious()"> 
    <button (click)="previousPageSet()"> Previous </button> 
</div>
