<h4> <b> {{path}} </b> </h4>
<h4> Accommodations </h4>

<table class="table table-striped table-hover ">
  <tbody>
    <tr *ngFor="let accommodation of Accommodations">
      <td> <a style="text-decoration: none" [routerLink]="['/accommodation', accommodation.Id]"> {{accommodation.Name}} </a> </td>
      <td> <a *ngIf="isLoggedIn() && isAdmin() && isDisapprovedOrigin()" (click)="approve(accommodation.Id)"> 
        Approve  </a> </td>
    </tr>
  </tbody>
</table> 

<div *ngFor="let c of counter; let i=index" style="float:left">
    <button [ngClass]="{'fill-data-btn': selectedButton == ((PageSet -1)*2 + i + 1) }" (click)="changePage((PageSet -1)*2 + i + 1)" md-button> 
        {{ (PageSet -1)*2 + i + 1 }}  
    </button>
</div>

<div *ngIf="showNext()" style="float:left"> 
    <button (click)="nextPageSet()" md-button> Next </button> 
</div>

<div *ngIf="showPrevious()"> 
    <button (click)="previousPageSet()" md-button> Previous </button> 
</div>
