<md-sidenav-container>
<header>

  <div style="text-align:center">
    <h1>
      {{title}}
    </h1>
  </div>

  <div style="text-align:right" *ngIf="isLoggedIn()">
    {{ userName }}
  </div>
  
</header>

<div *ngIf="isLoggedIn()">
    <notifications> </notifications>
  </div>

<nav name="navigationBar">
  <md-card>
     <button md-button (click) = "showCountries()"> Countries </button>
     <button md-button (click) = "showAccommodationTypes()"> Accommodation Types </button>

     <div *ngIf="isLoggedIn() && !isManager() && !isAdmin()" style="display:inline-block">
          <button md-button (click) = "showReservations()"> My reservations </button>
     </div> 

     <div *ngIf="isLoggedIn() && isManager()" style='display: inline-block'>
          <button md-button (click)="addAccommodation()"> Add Accommodation </button>
      </div>

     <div *ngIf="isLoggedIn()" style='display: inline-block'>
        <logout> </logout>
      </div>
      
      <div *ngIf="!isLoggedIn()" style='display: inline-block'>
        <button md-button (click)="showLoginPage()"> Sign In </button>
        <button md-button (click)="showRegistrationPage()"> Sign Up </button>
      </div>

      <div style='display: inline-block'>
          <button md-button (click)="showFilterPage()"> Filter </button>
      </div>


      <div *ngIf="isLoggedIn() && isManager()">
        <notification-manager> </notification-manager>
      </div>

      <div *ngIf="isLoggedIn() && isAdmin()" style='display: inline-block'>
          <button md-button id="disapprovedAccsButton" (click)="showDisapprovedAcc()"> Disapproved Accommodations </button>
      </div>

      <div *ngIf="isLoggedIn() && isAdmin()" style='display: inline-block'>
          <button md-button (click)="showManagers()"> Managers </button>
      </div>

      <div *ngIf="isLoggedIn() && isAdmin()" style='display: inline-block'>
          <button md-button (click)="showAppUsers()"> App Users </button>
      </div>

      <div *ngIf="isLoggedIn() && isManager()" style='display: inline-block'>
          <button md-button (click)="managersAccommodations()"> My Accommodations </button>
      </div>

  </md-card>
</nav>


<main>

  <div style='float: right; position: relative; left: -50%;'>
      <router-outlet ></router-outlet>
  </div>
</main>

</md-sidenav-container>



