<div *ngIf="isLoggedIn()">
  <logout> </logout>
</div>
<div *ngIf="!isLoggedIn()">
  <button (click)="showLoginPage()"> Sign In </button>
  <button (click)="showRegistrationPage()"> Sign Up </button>
</div>
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>

<div style='display: inline-block'>
  <ul>
    <li> <a [routerLink]="['/countryList']"> Countries </a> </li>
    <li> <a [routerLink]="['/accommodationTypeList']"> Accommodation Types </a> </li>
  </ul>
</div>

<div style='float: right; position: relative; left: -50%;'>
  <router-outlet ></router-outlet>
</div>