<md-sidenav-container>
<header>

  <div style="text-align:center">
    <h1>
      {{title}}
    </h1>
  </div>
</header>


<nav name="navigationBar">
  <md-card>
     <button md-button (click) = "showCountries()"> Countries </button>
     <button md-button (click) = "showAccommodationTypes()"> Accommodation Types </button>

     <div *ngIf="isLoggedIn() && !isManager() && !isAdmin()" style="display:inline-block">
          <button md-button (click) = "showReservations()"> My reservations </button>
     </div> 

     <div *ngIf="isLoggedIn() && isManager()" style='display: inline-block'>
          <button md-button (click)="addAccommodation()"> Add Accommodation </button>
      </div>

     <div *ngIf="isLoggedIn()" style='display: inline-block'>
        <logout> </logout>
      </div>
      
      <div *ngIf="!isLoggedIn()" style='display: inline-block'>
        <button md-button (click)="showLoginPage()"> Sign In </button>
        <button md-button (click)="showRegistrationPage()"> Sign Up </button>
      </div>

      <div style='display: inline-block'>
          <button md-button (click)="showFilterPage()"> Filter </button>
      </div>

  </md-card>
</nav>


<main>
  <div style='float: right; position: relative; left: -50%;'>
      <router-outlet ></router-outlet>
  </div>
</main>

</md-sidenav-container>



