
<div class="panel panel-default">
    <div class="panel-body">
      <div style="float: right">
        <a class="btn btn-default" *ngIf="isLoggedIn() && isManager() && isMyAcc(OwnerId)" (click) = 'editRoom()'> 
            <b> Edit room </b> 
        </a> 

        <a class="btn btn-default" *ngIf="isLoggedIn() && isManager() && isMyAcc(OwnerId)" 
              (click) = 'deleteRoom()'> 
               <b> Delete </b> 
        </a>

        <a class="btn btn-default" *ngIf="isLoggedIn() && isUser()" 
              (click) = "makeReservation()"> 
               <b> Make a reservation </b> 
        </a>
      </div>  

      <div style="display:block-inline">
        <p> Room number: {{Room.RoomNumber}} </p>
        <p> Bed count: {{Room.BedCount}} </p>
        <p> Description: {{Room.Description}} <p>
        <p> Price per night: {{Room.PricePerNight}} </p>
      </div>

    </div>
</div>