input[type="text"], input[type="password"], input[type="number"], textarea {
  display: block;
  margin: 0;
  width: 100%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
}
input[type="text"]:focus {
  outline: none;
}

input[type="text"], input[type="password"],input[type="number"], textarea {
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
input[type="text"]:focus,
input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
  outline: none;
}

input[type="password"]:focus,
input[type="password"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
  outline: none;
}

input[type="number"]:focus,
input[type="number"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
  outline: none;
}

textarea:focus,
textarea.focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
  outline: none;
}