<h4> <b> Places </b> </h4>

<table class="table table-striped table-hover ">
  <tbody>
    <tr *ngFor="let place of places">
      <td> <a style="text-decoration: none" [routerLink]="['/accommodationList', place.Id, path, Origin, place.Name]"> 
              <b>  {{place.Name}} </b> </a> </td>
      <td> <a *ngIf="isLoggedIn() && isAdmin()" (click)="deletePlace(place.Id)"> Delete </a> </td>
      <td> <a *ngIf="isLoggedIn() && isAdmin()" 
            (click)="editPlace(place.Id, place.Name, region.Id, path)">  Edit  </a> </td>
    </tr>
  </tbody>
</table> 

