<h4> <b> Create accommodation </b> </h4>

<form *ngIf="!isBanned()" #f = "ngForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data" ngNativeValidate>
<table> <tbody>
  <tr>
    <td> <label for="Name"> Name: </label>
    <input type="text" id="Name" name="Name" [(ngModel)]="Name" required style="width:80%"> </td>
    <td> <label for="Description"> Description: </label>
    <input type="text" id="Description" name="Description" [(ngModel)]="Description" style="width:80%"> </td>
  </tr> <tr>
    <td> <label for="AccommodationType"> AccommodationType: </label>
    <select md-select class="md-no-underline" name="AccommodationTypeId" id="AccommodationTypeId" required [(ngModel)]="AccommodationTypeId" style="width:80%">
      <option md-option *ngFor = "let accType of accTypes" value={{accType.Id}}> {{accType.Name}} </option>
    </select> </td>
    <td> <label for="Address"> Address: </label>
    <input type="text" id="Address" name="Address" [(ngModel)]="Address" style="width:80%"> </td>
  </tr> <tr>
    <td> <label for="Longitude"> Longitude: </label>
    <input type="text" id="Longitude" name="Longitude" [(ngModel)]="Longitude" required style="width:80%"> </td>
    <td> <label for="Latitude"> Latitude: </label>
    <input type="text" id="Latitude" name="Latitude" [(ngModel)]="Latitude" required style="width:80%"> </td>
  </tr>
  <tr>
    <td> <label for="Country"> Country: </label>
    <select md-select class="md-no-underline" name="CountryId" id="CountryId" required [(ngModel)]="CountryId"
       (change)="onCountryChange($event.target.value)" style="width:80%">
      <option md-option *ngFor = "let country of countries" value={{country.Id}}> {{country.Name}} </option>
    </select> </td>

    <td> <label for="Region"> Region: </label>
    <select md-select class="md-no-underline" name="RegionId" id="RegionId" required [(ngModel)]="RegionId"
      (change)="onRegionChange($event.target.value)" style="width:80%">
      <option md-option *ngFor = "let region of regions" value={{region.Id}}> {{region.Name}} </option>
    </select> </td>
    </tr> <tr>
    <td> <label for="Place"> Place: </label>
    <select md-select class="md-no-underline" name="PlaceId" id="PlaceId" required [(ngModel)]="PlaceId" style="width:80%">
      <option md-option *ngFor = "let place of places" value={{place.Id}}> {{place.Name}} </option>
    </select> </td>
   </tr>
  </tbody></table>
    <div>
        <label for="image1"> Image File </label>
        <br/>
        <input type="file" name="ImageURL" id="ImageURL" (change)="onImageChange($event)" />
    </div>

    <input type="submit" value="Create">
</form>

<div> {{Message}} </div>

<div *ngIf="isBanned()">
  Sorry, you are banned!
</div>