<h4> AccommodationType: {{ AccommodationTypeName }} </h4>

&nbsp; <button *ngIf="isLoggedIn() && isAdmin()" (click)="deleteAccommodationType()"> <b> Delete </b> </button>
&nbsp; <button *ngIf="isLoggedIn() && isAdmin()" (click)="editAccommodationType()"> <b> Edit </b> </button>

<!--
<ul>
  <li *ngFor="let accommodation of Accomodations"> 
    Name: {{accommodation.Name}} <br/> 
    Description: {{accommodation.Description}} <br />
    Address: {{accommodation.Address}} <br/> 
    Average grade: {{accommodation.AverageGrade}} <br/> 
    Latitude: {{accommodation.Latitude}} <br/>
    Longitude: {{accommodation.Longitude}} <br/>
    Owner: {{ accommodation.Owner.Name + ' ' + accommodation.Owner.LastName}} <br/>
    Place: {{ accommodation.Place.Name }} <br/>
    <a [routerLink]="['/rooms', accommodation.Id, accommodation.Name, AccommodationType, Id, Origin]"> Show rooms </a>
  </li>
</ul>

-->