<h4> Comments: </h4>

<div *ngIf = "CommentsCount == 0">
    No comments for this accommodation.
</div>

<div *ngIf = "CommentsCount > 0">
    <div *ngFor = "let comment of Comments">
        <p name="userName"> {{ comment.AppUser.Name }} says: </p>
        <div>
            Grade: {{ comment.Grade }}
        </div>
        <blockquote>
            {{comment.Text}}
        </blockquote>
        <button *ngIf = "UserId == comment.AppUser.Id" (click) = "deleteComment(comment.AppUserId, comment.AccommodationId)" > Delete comment </button>
    </div>
</div>

<add-comment *ngIf="canUserrLeaveComment()" 
             [AccommodationId] = 'AccommodationId' 
             (OnCommentAdded) = "commentAdded($event)" > 

</add-comment>