<h4 *ngIf="role == 'Manager'"> <b> Managers </b></h4>
<h4 *ngIf="role == 'AppUser'"> <b> Users </b> </h4>

<table class="table table-striped table-hover ">
  <tbody>
    <tr *ngFor="let user of users">
      <td> <a style="text-decoration: none">  {{user.Name}} </a> </td>
      <td> <a style="text-decoration: none">  {{user.LastName}} </a> </td>
      <td> <a style="text-decoration: none" *ngIf="isManagerPage() && !user.IsBanned" (click)="ban(user.Id)"> <b> Ban </b> </a> </td>
      <td> <a style="text-decoration: none" *ngIf="isManagerPage() && user.IsBanned" (click)="unban(user.Id)"> <b> Unban </b> </a> </td>
  </tbody>
</table> 
