<h4> Accommodation Types </h4>
<div *ngIf="isLoggedIn() && isAdmin()">
  <add-acc-type (onAccommodationTypeAdded)="getAccommodationTypes($event)"> </add-acc-type>
</div>


<table class="table table-striped table-hover ">
  <tbody>
    <tr *ngFor="let accType of accommodationTypes">
      <td> <a [routerLink]="['/accommodationList', accType.Id, accType.Name, Origin, 'empty']"> {{accType.Name}} </a> </td>
      <td> <a class="btn btn-default" *ngIf="isLoggedIn() && isAdmin()" (click)="deleteAccommodationType(accType.Id)">  Delete  </a> </td>
      <td> <a class="btn btn-default" *ngIf="isLoggedIn() && isAdmin()" (click)="editAccommodationType(accType.Id, accType.Name)"> Edit </a> </td>
  </tbody>
</table> 


{{Message}}
