<h4> Countries </h4>

<ul>
  <!--<li *ngFor="let c of countries"> <country [country] = "c"> </country> </li> -->
  <li *ngFor="let c of countries"> <a [routerLink]="['/country', c.Id]">{{c.Name}}</a> </li>
</ul>

<!--<form #f = "ngForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="Name"> Name: </label>
    <input type="text" id="Name" name="Name" [(ngModel)]="Name"> <br/>
    <label for="Code"> Code: </label>
    <input type="text" id="Code" name="Code" [(ngModel)] = "Code"> <br/>
    <input type="submit" value="Create country">
  </div>
</form>

-->
