<div style="width: 500px; float: left;">


<div class="panel panel-default">
  <div class="panel-heading"> <h3> {{ accommodation.Name }} </h3> </div>
    <div class="panel-body">

      <div style="float: right">
        <a class="btn btn-default" *ngIf="isLoggedIn() && isManager() && isMyAcc(accommodation.Owner.Id)" (click)="deleteAcc(accommodation.Id)"> 
            <b> Delete </b> 
        </a> 

        <a class="btn btn-default" *ngIf="isLoggedIn() && isManager() && isMyAcc(accommodation.Owner.Id)" 
               (click)="editAcc(accommodation.Id, accommodation.Name, accommodation.Description, accommodation.Address, accommodation.Latitude, accommodation.Longitude,
               accommodation.AverageGrade, accommodation.Approved, accommodation.AccommodationTypeId, accommodation.PlaceId, accommodation.OwnerId, accommodation.ImageUrl)"> 
               <b> Edit </b> 
        </a>
      </div>  


      <div style="display:block-inline">
        <p> Rating: {{ accommodation.AverageGrade }} </p>
        <p> Accommodation type: {{ accommodation.AccommodationType.Name }} </p>
        <p> Description: {{ accommodation.Description }} </p>
        <p> Owner: {{ accommodation.Owner.Name }} &nbsp; {{ accommodation.Owner.LastName }} </p>
        <p *ngIf="isLoggedIn() && isManager() && isMyAcc(accommodation.Owner.Id)"> Approved: {{ accommodation.Approved }} </p>
        <a [routerLink]="['/roomList', accommodation.Id, accommodation.Name, accommodation.Owner.Id]"> See rooms </a> 
      </div>


      <img  [src]=ImageUrl height="300" width="450" />

      <div class="panel-footer">Address: {{accommodation.Place.Name}}, {{ accommodation.Address }}</div>
    </div>
</div>


<div >
  <comment-list [AccommodationId] = 'accommodation.Id'> </comment-list>
</div>
</div>

<div style="margin: 0 auto; width: 0px; float: left; margin: 100px 0px 100px 80px;">
    <map [mapInfo]="mapInfo" [accAddress]="accommodation.Address" [accName]="accommodation.Name"></map>
</div>


