<div>  
  Name: {{accommodation.Name}} <br/> 
  Description: {{accommodation.Description}} <br />
  Address: {{accommodation.Address}} <br/> 
  Average grade: {{accommodation.AverageGrade}} <br/> 
  Latitude: {{accommodation.Latitude}} <br/>
  Longitude: {{accommodation.Longitude}} <br/>
  Owner: {{ accommodation.Owner.Name + ' ' + accommodation.Owner.LastName}} <br/>
  Place: {{ accommodation.Place.Name }} <br/>
  Accommodation type: {{ accommodation.AccommodationType.Name }} <br/>
  <a [routerLink]="['/roomList', accommodation.Id, accommodation.Name, accommodation.Owner.Id]"> Rooms </a>
</div>

<div>
  <button *ngIf="isLoggedIn() && isManager() && isMyAcc(accommodation.Owner.Id)" (click)="deleteAcc(accommodation.Id)"> 
      <b> Delete Accommodation </b> 
    </button>

    <button *ngIf="isLoggedIn() && isManager() && isMyAcc(accommodation.Owner.Id)" 
      (click)="editAcc(accommodation.Id, accommodation.Name, accommodation.Description, accommodation.Address, accommodation.Latitude, accommodation.Longitude,
      accommodation.AverageGrade, accommodation.Approved, accommodation.AccommodationTypeId, accommodation.PlaceId, accommodation.OwnerId)"> 
      <b> Edit Accommodation </b> 
    </button>
</div>  
